<h1> Login now </h1>
<style>
    h3{
        color: red;
    }
</style>

{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <p> username : </p>
    <input type="text" name="username"/>       <!-- this must match with the view 'username' i had a bug-->
    <p> Password:</p>
    <input type="password" name="password"/><br>   <!-- this must match with the view 'username' i had a bug-->
    <input type="submit"/>
</form>