<h1> Sign up form</h1>
<style>
    h5{
        color:  red ;
    }
</style>
{% for message in messages %}
<h5> {{message}}</h5>
{% endfor %}

<form method="POST" action="register">
    {% csrf_token %}
    <p> username: </p>
    <input type="text" name="username"> , <!--this element gave me an issue cus the 'username did not match in the username in views'-->
    <p> email: </p>
    <input type="email" name="email">
    <p> password: </p>
    <input type="password" name="password">
    <p> Repeat password: </p>
    <input type="text" name="password2">
    <input type="submit">
</form>